body {
  background-color: #eeeeee;
  color: #000033;
  line-height: 1.428571429;
  font-size: 15px;
}

main {
  padding: 30px;
}

.content {
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  padding: 5em 6em 5em 5em;
}